/* .devices .container {
    padding: 0;
} */

.devices {
    background-image: 
    linear-gradient(
        rgba(255, 255, 255, 0.85), 
        rgba(255, 255, 255, 0.85)),
    url(../img/design-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
}

.device-phone {
    position: absolute;
    margin-left: 27%;
    bottom: 0px;
    height: 580px;
}

.phone-position {
    position: absolute;
    margin-left: 45%;
    margin-top: 12%;
    height: 470px;
}
