.footer .container {
    padding: 5% 20% 0;
}

.footer-position {
    display: flex;
    margin-bottom: 5%;
}

.footer-first-item {
    width: 45%;
    margin-right: 40px;
}

.footer-title {
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
}

.footer .text-inf {
    text-align: start;
    margin: 28px 0;
}

.followers {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}

.count-followers {
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.footer-line {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.follow {
    color: #999999;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 18px 0 39px;
}

.follow .aqua-icon {
    margin-right: 5px;
}

.follow .aqua-icon:first-child {
    margin-left: 10px;
}

.footer-input {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
}

.footer-btn {
    padding: 14px 34px 15px;
    background-color: #95e1d3;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-subtitle {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-blog-text-position {
    display: flex;
    margin-bottom: 30px;
}

.footer-blog-text {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer-blog-date {
    color: #999999;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
}

.instagram-text {
    color: #333333;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.copywriter {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    margin: 22px 0;
    text-align: center;
}

.copywriter span {
    color: #f38181;
}