@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Roboto');

.container {
    padding: 5% 10%;
    font-family: 'Montserrat', sans-serif;
}

.horizontal-line {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    border: none;
}

.pink-horizontal-line {
    margin-bottom: 47px;
    background-color: #f38181;
}

.img-line {
    display: flex;
    justify-content: center;
}

.aqua-icon {
    color: #95e1d3;
}