.map {
    background-image: 
    linear-gradient(
        rgba(255, 255, 255, 0.85), 
        rgba(255, 255, 255, 0.85)),
    url(../img/design-bg.png);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f38181;
}

.map-icon {
    font-size: 24px;
}

.map-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.map .pink-horizontal-line {
    margin: 0 auto;
}