.team-list {
    text-align: center;
    margin-right: 30px;
}

.our-team .img-line {
    margin-top: 5%;
}

.bold-title {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.person-position {
    color: #999999;
    font-family:  'Roboto', sans-serif;
    font-style: italic;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.label {
    height: 250px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}