.post {
    height: 290px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post-icon {
    font-size: 65px;
    border: 3px solid #95e1d3;
    padding: 43px;
    margin-right: 61px;
}

.post-text {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 50%;
}

.editor {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-top: 23px;
}

.editor span {
    color: #f38181;
    font-family: 'Roboto', sans-serif;
}